<form class="page" #loginForm="ngForm">
  <div class="header">
    <div class="title" translate>Login</div>
    <div *ngIf="error" class="error">
      {{ error | translate }}
    </div>
  </div>
  <div class="row">
    <label translate>Email</label>:
    <span translate>*required</span>
  </div>
  <input type="text" name="email" required [placeholder]="'Enter e-mail' | translate" [(ngModel)]="email" (keyup.enter)="login()">
  <div class="row">
    <label translate>Password</label>:
    <span translate>*required</span>
  </div>
  <input type="password" name="password" required [placeholder]="'Enter password' | translate" [(ngModel)]="password" (keyup.enter)="login()">
  <div class="row">
    <a href="#" class="forgot" translate>Forgot password?</a>
    <button [disabled]="loginForm.invalid" class="login" (click)="login()" translate>Login</button>
  </div>
</form>
