:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page {
  background-color: white;
  box-shadow: 0 0 5px -2px;
  margin: 10px;
  padding: 24px;
  border-radius: 3px;
  width: 368px;
  height: 286px;
  border-radius: 6px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: #ffffff;
}

.page > *:not(:last-child) {
  margin-bottom: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark);
}


.header > .error {
  font-size: 0.8rem;
  color: var(--orange-red);
}

.row {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row label {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--slate-grey);
}

.row span {
  font-size: 0.8rem;
  color: var(--battleship-grey);
}

input {
  display: block;
  width: 100%;
  border-radius: 3px;
  border: solid 1px var(--pale-grey);
  background-color: #ffffff;
  padding: 12px;
  box-sizing: border-box;
  color: var(--slate-grey);
}

.forgot {
  font-size: 0.8rem;
  color: var(--soft-blue-two);
}

.login {
  color: #fff;
  background-color: var(--sick-green);
  padding: 18px;
  font-size: 0.9rem;
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.login:hover {
  background-color: #9bc839;
}
.login:disabled {
  color: var(--cool-grey);
  background: var(--pale-grey);
}

.error {
  color: red;
}
