.breadcrumbs {
  padding: 6px 0;
  font-weight: bold;
}

.course-list {
  width: 1200px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .course-list {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .course-list {
    width: 400px;
  }
}

app-course {
  margin: 20px 0;
  display: block;
}

.no-data {
  display: flex;
  justify-content: center;
}

.toolbar {
  display: flex;
}

.empty {
  flex: 1 0 auto;
}

.toolbar .add-course {
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--dark-sky-blue);
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
}

.toolbar .add-course:hover {
  background-color: var(--seafoam-blue);
}

.load-more {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 6px -3px;
  margin: 20px auto;
  width: 100%;
  padding: 16px 8px;
}

.load-more-button {
  border: none;
  text-decoration: underline;
  background: none;
  color: var(--soft-blue);
  cursor: pointer;
}
.load-more-button:hover {
  color: var(--seafoam-blue);
}
