<div class="course-list">
  <div class="breadcrumbs" translate>Courses</div>

  <search-input (onSearch)="search($event)"></search-input>

  <div class="toolbar">
    <div class="empty"></div>
    <button class="add-course" [routerLink]="['new']" translate>
      <i class="icon material-icons">add</i>
      Add course
    </button>
  </div>

  <div *ngIf="coursesItems$ | async as coursesItems">
    <ng-container *ngIf="coursesItems.length; else noData">
      <div *ngFor="let course of coursesItems">
        <app-course appHighlightCourse [course]="course" (onDelete)="delete(course.id)"></app-course>
      </div>
    </ng-container>
    <ng-template #noData>
      <div class="no-data" translate>No data, feel free to add new course</div>
    </ng-template>
  </div>

  <div class="load-more" *ngIf="canLoadMore$ | async">
    <button (click)="loadMore()" class="load-more-button" href="/" translate>LOAD MORE</button>
  </div>
</div>
