:host {
  display: flex;
  background-color: var(--charcoal-grey);
  color: #fff;
  align-items: center;
  min-height: 60px;
}

.fill-space {
  flex: 1 1 auto;
}

.lang {
  display: flex;
  align-items: center;
}

.lang .icon {
  color: var(--sick-green);
}

.lang .lang-options {
  box-shadow: 0 0 2px;
  padding: 4px;
  margin: 4px;
  color: var(--charcoal-grey);
  border-radius: 4px;
  border: none;
}

.logo {
  position: relative;
  left: 40px;
  width: 138px;
  height: 32px;
  background-image: url('/assets/logo.png');
  background-size: cover;
}

.user {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 8px;
  cursor: pointer;
  background: none;
  color: white;
  border: none;
  font-size: 1.1rem;
}

.user:hover {
  color: #9bc839;
}

.user .icon {
  padding-right: 6px;
}
.user span {
  margin-right: 6px;
}
