<a class="logo" href="/">
</a>

<span class="fill-space"></span>

<div class="lang">
  <i class="icon material-icons">flag</i>
  <select class="lang-options" [value]="currentLang" (change)="changeLanguage($event.target.value)">
    <option value="en">EN</option>
    <option value="ru">RU</option>
  </select>
</div>

<button class="user" *ngIf="user">
  <i class="icon material-icons">account_circle</i>{{ user.name }}
</button>

<button class="user" *ngIf="user" (click)="logoff()">
  <i class="icon material-icons">exit_to_app</i><span translate>Log off</span>
</button>

