:host {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.breadcrumbs {
  width: 100%;
  padding: 20px 0 20px 85px;
  box-sizing: border-box;
  background-color: #fff;
}

.breadcrumbs a {
  color: var(--steel);
  text-decoration: none;
}

.breadcrumbs span {
  color: var(--dark);
  font-weight: bold;
}

.add-edit {
  display: flex;
  flex-direction: column;
  width: 731px;
  border-radius: 8px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: #ffffff;
  margin: 24px auto;
  padding: 24px;
}

.new-course {
  margin-bottom: 22px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--dark);
}

.label-row {
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
}

.label-row label {
  font-weight: bold;
  margin-right: auto;
  color: var(--sivler);;
}

.label-row span {
  color: var(--orange-red);
  font-size: 0.9rem;
  margin-right: 8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons > button {
  color: white;
  background-color: #34c1d1;
  border: none;
  padding: 12px 18px;
  margin-right: 12px;
  border-radius: 3px;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.buttons > .cancel {
  background-color: var(--pale-grey);
  color: var(--slate-grey-two);
}

.buttons > .cancel:hover {
  background-color: var(--silver);
}

.buttons > .save {
  background-color: var(--sick-green);
  color: #fff;
}

.buttons > .save[disabled] {
  background-color: var(--silver);
  color: var(--slate-grey-two);
  cursor: unset;
}

.buttons > .save:hover:enabled {
  background-color: var(--seafoam-blue);
}

input, textarea {
  border: 1px #bbb solid;
  padding: 6px 12px;
  margin-bottom: 12px;
}

.ng-invalid.ng-touched:not(form) {
  border: 1px red solid;
}
