<div class="breadcrumbs">
  <a routerLink="/courses" translate>Courses</a> /
  <span *ngIf="!courseId" translate>New course</span>
  <span *ngIf="courseId">{{ title.value }}</span>
</div>

<form [formGroup]="addEditForm" class="add-edit" *ngIf="ready; else loading">

  <div class="new-course" *ngIf="!courseId" translate>New course</div>

  <div class="label-row">
    <label for="title" translate>Title</label>
    <span *ngIf="title.touched && title.errors?.required" translate>
      validation-errors.Title is required
    </span>
    <span *ngIf="title.touched && title.errors?.maxlength" translate [translateParams]="{LENGTH: 50}">
      validation-errors.Title must be LENGTH symbols or less
    </span>
  </div>
  <input type="text" formControlName="title" [placeholder]="'Title'| translate"/>

  <div class="label-row">
    <label for="description" translate>Description</label>
    <span *ngIf="description.touched && description.errors?.required" translate>
      validation-errors.Description is required
    </span>
    <span *ngIf="description.touched && description.errors?.maxlength" translate [translateParams]="{LENGTH: 500}">
      validation-errors.Description must be LENGTH symbols or less
    </span>
  </div>

  <textarea rows="5" formControlName="description" [placeholder]="'Add description'| translate"></textarea>

  <div class="label-row">
    <label for="creation-date" translate>Date</label>
      <span *ngIf="creationDate.touched && creationDate.errors?.required" translate>
      validation-errors.Date is required
    </span>
    <span *ngIf="creationDate.touched && creationDate.errors?.invalidDate" translate>
      validation-errors.Date is invalid
    </span>
  </div>

  <date-input type="text" formControlName="creationDate"></date-input>

  <div class="label-row">
    <label for="duration" translate>Duration</label>
    <span *ngIf="duration.touched && duration.errors?.required" translate>
      validation-errors.Duration is required
    </span>
    <span *ngIf="duration.touched && duration.errors?.nonInteger" translate>
      validation-errors.Duration must be a integer value
    </span>
    <span *ngIf="duration.touched && duration.errors?.min" translate>
      validation-errors.Duration must be positive
    </span>
  </div>

  <div>
    <input type="number" formControlName="duration" [placeholder]="'time.minutes' | translate"/>
    <span> {{ duration.value | hourMinuteFormat }} </span>
  </div>

  <label for="authors">
    <label translate>Authors</label>
    <span *ngIf="authors.touched && authors.errors?.minLength" translate>
      validation-errors.At least one author must be present
    </span>
  </label>

  <div>
    <cloud-tags-input formControlName="authors" displayKey="name" (onSuggest)="searchAuthors($event)" [suggestions]="authorsSuggestions"></cloud-tags-input>
  </div>

  <div class="buttons">
    <button class="cancel" (click)="cancel()" translate>Cancel</button>
    <button class="save" [disabled]="addEditForm.invalid" (click)="save()" translate>Save</button>
  </div>

</form>

<ng-template #loading>
</ng-template>
