<div class="search">
  <i class="icon material-icons">search</i>
  <input [placeholder]="'Type to search' | translate" [(ngModel)]="searchTerm" class="search-input" type="text" (focus)="onTouched()" (input)="search()">
</div>
