.search {
  margin-top: 6px;
  height: 30px;
  display: flex;
  align-items: center;
}

.search .icon {
  background: white;
  padding: 4px;
}

.search-input {
  border: none;
  line-height: 28px;
  padding: 2px;
  color: #666;
}

.search-button {
  color: white;
  background-color: rgb(155, 200, 55);
  border: none;
  padding: 6px 18px;
  border-radius: 3px;
  margin-left: 6px;
  height: 100%;
  cursor: pointer;
}

