<ul class="item-list" (focus)="onTouched()">
  <li *ngFor="let item of itemList; index as index">
    {{ displayKey ? item[displayKey] : item }}
    <button class="close" (click)="remove(index)">x</button>
  </li>

  <li class="new-item">
    <input type="text" class="new-item-value" [(ngModel)]="newItemValue" (blur)="onTouched()" [placeholder]="'Start typing' | translate" (input)="typingNewItem($event)" #newItemInput/>

    <div class="suggestions" [style.top]="newItemInput.offsetHeight + 'px'" *ngIf="newItemValue && suggestions.length > 0" multiple >
      <div class="suggestion" *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
        {{ displayKey ? suggestion[displayKey] : suggestion }}
      </div>
    </div>
  </li>
</ul>
