:host {
  display: flex;
  margin: 4px;
  align-items: flex-start;
}

ul {
  list-style: none;
  display: inline-block;
  padding: 6px;
  border-radius: 3px;
  border: solid 1px var(--pale-grey);
  background-color: #ffffff;
}

li {
  display: inline-block;
  box-shadow: 0 0 1px;
  border: none;
  padding: 4px 8px;
  margin-right: 4px;
  background: var(--pale-grey-two);
  color: var(--battleship-grey);
  font-size: 0.9rem;
}

button.close {
  border: none;
  background: none;
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0px;
  font-weight: bold;
  cursor: pointer;
  color: var(--pale-grey);
}

button.close:hover {
  background: #9bc839;
}

.new-item {
  position: relative;
}

.new-item-value {
  border: none;
  backround: none;
}

.suggestions {
  position: absolute;
  box-shadow: 0 0 1px;
  border-radius: 2px;
  background: #34c1d1;
}

.suggestion {
  color: white;
  cursor: pointer;
  padding: 2px;
}

.suggestion:hover {
  background: #9bc839;
}
