.course {
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: #ffffff;
  padding: 24px;
}

.content {
  width: 100%;
}

.header {
  display: flex;
}

.topRated {
  background-color: #ffbc80;
}

.title {
  color: var(--dark);
  font-weight: bold;
  font-size: 1.1rem;
  flex: 1 0 auto;
  display: flex;
  align-items: flex-end;
}

.star {
  font-size: 1.5em;
  color: #ffff40;
  box-shadow: 0 0 5px -3px;
}

.duration, .creation-date {
  color: var(--cloudy-blue);
  font-size: 0.9rem;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.duration .icon, .creation-date .icon {
  font-size: 0.9rem;
}

.duration .icon, .creation-date .icon {
  padding: 0 8px;
}

.description {
  padding-top: 4px;
  color: var(--slate-grey);
}

.action-buttons {
  flex: 1 0 auto;
  text-align: right;
}

.action-buttons button {
  color: white;
  background-color: var(--dark-sky-blue);
  border: none;
  padding: 4px 12px;
  margin: 0 6px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.action-buttons button:hover {
  background-color: var(--seafoam-blue);
}

.action-buttons button .icon {
  padding-right: 6px;
  font-size: 0.9rem;
}
