<div class="course" [ngClass]="{topRated: course.topRated}">
  <div class="content">
    <div class="header">
      <span class="title">{{ 'Video Course' | translate }} {{ course.id }}. {{ course.title | uppercase }}
        <i *ngIf="course.topRated" class="icon star material-icons">star</i>
      </span>
      <span class="duration">
        <i class="icon material-icons">access_time</i>
        <!-- todo how to translate this ?? -->
        {{ course.duration | hourMinuteFormat }}
      </span>
      <span class="creation-date">
        <i class="icon material-icons">date_range</i>
        {{ course.creationDate | date: 'yyyy-MM-dd' }}
      </span>
    </div>
    <div class="description">
      {{ course.description }}
    </div>
  </div>

  <div class="action-buttons">
    <button class="edit" [routerLink]="[course.id]" translate>
      <i class="icon material-icons">edit</i>
      Edit
    </button>
    <button class="delete" (click)="onDelete.next(course)" translate>
      <i class="icon material-icons">delete</i>
      Delete
    </button>
  </div>
</div>
