.breadcrumbs {
  color: black;
  background-color: white;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

app-footer {
  flex-shrink: 0;
}
