<div class="overlay" *ngIf="(overlaying$ | async)">
  <div class="container">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
