/* remove arrow button for numbers */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}
input::placeholder {
  color: #446844;
}

input {
  border: none;
}

input.day {
  width: 3ch;
}

input.month {
  width: 3ch;
}

input.year {
  width: 5ch;
}
