/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
  font-family: SourceSansPro;
  background-color: var(--pale-grey-two);
}

:root {
  --soft-blue: #577ce6;
  --dark-sky-blue: #30b6dd;
  --steel: #868996;
  --slate-grey: #525462;
  --black: #000000;
  --pear: #e2f86a;
  --seafoam-blue: #76cdd8;
  --charcoal-grey: #414452;
  --cloudy-blue: #b9bdce;
  --silver: #c0c3ce;
  --pale-grey-two: #f2f3f7;
  --battleship-grey: #6c7283;
  --soft-blue-two: #5681ee;
  --cool-grey: #a8a9b4;
  --slate-grey-two: #5b616f;
  --sick-green: #9bc837;
  --orange-red: #ff4e33;
  --dark: #2c2f3c;
  --pale-grey: #d9dbe3;
}
