:host {
  display: flex;
  background-color: var(--charcoal-grey);
  color: var(--silver);
  align-items: center;
  min-height: 60px;
}

.fill-space {
  flex: 1 1 auto;
}

.copyright {
  padding-left: 16px;
  padding-right: 8px;
  margin-right: 16px;
}
